.ServiceCard:hover {
    transform: translateY(-5px); /* Move the card up by 5px on hover */
    transition: transform 0.3s ease; /* Apply smooth transition effect */
  }

    .ServiceCard {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px;
        text-align: center;
        transition: transform 0.3s ease;
        top: 0;
    }